@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.path-37-icon {
  position: absolute;
  top: -85.694rem;
  left: -25.081rem;
  width: 162.413rem;
  height: 152.469rem;
}
.top {
  background-color: var(--color-skyblue);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.background,
.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 120rem;
  height: 7.25rem;
}
.about-our-members:hover,
.background:hover,
.icon-ion-home-sharp:hover,
.indeed:hover,
.twitter:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.icon-ion-home-sharp {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.89rem;
  left: 1.563rem;
  width: 3.975rem;
  height: 3.469rem;
}
.north-texas-innovation-allianc {
  position: absolute;
  top: -2.875rem;
  left: 19rem;
  width: 19.75rem;
  height: 13.125rem;
  object-fit: cover;
}
.join-us-child {
  position: absolute;
  top: 1.938rem;
  left: 41.563rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 36.875rem;
  height: 3.5rem;
}
.icon-fa-solid-x,
.icon-ion-search-sharp {
  position: absolute;
  top: 2.776rem;
  left: 42.25rem;
  width: 2.075rem;
  height: 1.725rem;
}
.icon-fa-solid-x {
  top: 3.093rem;
  left: 76.75rem;
  width: 1rem;
  height: 1.175rem;
}
.interested-in-membership {
  position: absolute;
  top: 28.125rem;
  left: 25.25rem;
  font-size: var(--font-size-61xl);
  text-transform: uppercase;
  font-family: var(--font-bahnschrift);
  color: var(--color-ghostwhite);
  text-align: center;
}
.if-you-are {
  margin: 0;
}
.if-you-are-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 3.313rem;
  text-transform: capitalize;
}
.link {
  position: absolute;
  top: 73.125rem;
  left: 18.688rem;
  width: 82.688rem;
  height: 13.063rem;
  font-size: var(--font-size-31xl);
  color: var(--color-mediumseagreen-500);
  font-family: var(--font-bahnschrift);
}
.north-texas-innovation-container {
  position: absolute;
  top: 133.375rem;
  left: 10.938rem;
  font-size: var(--font-size-81xl);
  line-height: 2.063rem;
  color: var(--color-mediumseagreen-100);
  text-align: center;
  display: none;
  mix-blend-mode: darken;
}
.bottom1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 120rem;
  height: 22.313rem;
}
.north-texas-innovation-allianc1 {
  position: absolute;
  top: 5.375rem;
  left: 8.75rem;
  width: 19.75rem;
  height: 13.125rem;
  object-fit: cover;
}
.bottom-child {
  position: absolute;
  top: 11.938rem;
  left: 43.25rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 33.5rem;
  height: 6.188rem;
}
.email-address,
.subscribe-to-our {
  position: absolute;
  line-height: 2.5rem;
}
.email-address {
  top: 13.688rem;
  left: 47rem;
  font-family: var(--font-bebas-neue);
  color: var(--color-gray-200);
  opacity: 0.46;
}
.subscribe-to-our {
  top: 2.375rem;
  left: 35.625rem;
  font-size: var(--font-size-41xl);
}
.sign-up-with {
  position: absolute;
  top: 6.688rem;
  left: 40.063rem;
  font-size: var(--font-size-6xl);
  text-transform: lowercase;
}
.bottom {
  position: absolute;
  top: 233.125rem;
  left: 0;
  width: 120rem;
  height: 22.313rem;
  text-align: center;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
  font-family: var(--font-bahnschrift);
}
.icon-fa-brands-square-twitter {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twitter {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.563rem;
  left: 89.75rem;
  width: 4.375rem;
  height: 4.375rem;
}
.indeed-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue);
}
.in,
.indeed,
.indeed-child {
  position: absolute;
}
.in {
  top: 14.08%;
  left: 23.29%;
  font-size: var(--font-size-32xl);
  letter-spacing: 0.51px;
  text-transform: lowercase;
  font-family: var(--font-bebas-neue);
  color: var(--color-darkturquoise);
  text-align: center;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.indeed {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1.563rem;
  left: 95rem;
  width: 4.563rem;
  height: 4.438rem;
}
.checkbox-empty,
.checkbox-empty1,
.checkbox-empty2,
.checkbox-empty3,
.checkbox-empty4 {
  position: absolute;
  top: 119.438rem;
  left: 18.813rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-mediumseagreen-500);
  box-sizing: border-box;
  width: 1.875rem;
  height: 1.875rem;
}
.checkbox-empty1,
.checkbox-empty2,
.checkbox-empty3,
.checkbox-empty4 {
  top: 134.25rem;
  left: 18.688rem;
}
.checkbox-empty2,
.checkbox-empty3,
.checkbox-empty4 {
  top: 137.375rem;
}
.checkbox-empty3,
.checkbox-empty4 {
  top: 140.5rem;
}
.checkbox-empty4 {
  top: 143.625rem;
}
.checkbox-empty10,
.checkbox-empty11,
.checkbox-empty12,
.checkbox-empty13,
.checkbox-empty14,
.checkbox-empty5,
.checkbox-empty6,
.checkbox-empty7,
.checkbox-empty8,
.checkbox-empty9 {
  position: absolute;
  top: 146.75rem;
  left: 18.688rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-mediumseagreen-500);
  box-sizing: border-box;
  width: 1.875rem;
  height: 1.875rem;
}
.checkbox-empty10,
.checkbox-empty11,
.checkbox-empty12,
.checkbox-empty13,
.checkbox-empty14,
.checkbox-empty6,
.checkbox-empty7,
.checkbox-empty8,
.checkbox-empty9 {
  top: 149.875rem;
}
.checkbox-empty10,
.checkbox-empty11,
.checkbox-empty12,
.checkbox-empty13,
.checkbox-empty14,
.checkbox-empty7,
.checkbox-empty8,
.checkbox-empty9 {
  top: 156.938rem;
}
.checkbox-empty10,
.checkbox-empty11,
.checkbox-empty12,
.checkbox-empty13,
.checkbox-empty14,
.checkbox-empty8,
.checkbox-empty9 {
  top: 160.063rem;
}
.checkbox-empty10,
.checkbox-empty11,
.checkbox-empty12,
.checkbox-empty13,
.checkbox-empty14,
.checkbox-empty9 {
  top: 163.188rem;
}
.checkbox-empty10,
.checkbox-empty11,
.checkbox-empty12,
.checkbox-empty13,
.checkbox-empty14 {
  top: 166.313rem;
}
.checkbox-empty11,
.checkbox-empty12,
.checkbox-empty13,
.checkbox-empty14 {
  top: 169.438rem;
}
.checkbox-empty12,
.checkbox-empty13,
.checkbox-empty14 {
  top: 172.563rem;
}
.checkbox-empty13,
.checkbox-empty14 {
  top: 175.688rem;
}
.checkbox-empty14 {
  top: 182.188rem;
  width: 18.75rem;
  height: 4.875rem;
}
.something-is-wrong {
  position: absolute;
  top: 112.781rem;
  left: 18.656rem;
  -webkit-text-stroke: 1px #00cc80;
}
.something-is-wrong1,
.something-is-wrong2,
.something-is-wrong3 {
  position: absolute;
  top: 104.906rem;
  left: 18.781rem;
  -webkit-text-stroke: 1px #00cc80;
}
.something-is-wrong2,
.something-is-wrong3 {
  top: 97.156rem;
}
.something-is-wrong3 {
  top: 93.656rem;
  left: 18.906rem;
}
.something-is-wrong-container,
.something-is-wrong4 {
  position: absolute;
  top: 97.156rem;
  left: 43.781rem;
  -webkit-text-stroke: 1px #00cc80;
}
.something-is-wrong4 {
  top: 130.719rem;
  left: 18.656rem;
  white-space: pre-wrap;
}
.something-is-wrong5,
.something-is-wrong6,
.something-is-wrong7,
.something-is-wrong8 {
  position: absolute;
  top: 154.219rem;
  left: 18.656rem;
  -webkit-text-stroke: 1px #00cc80;
}
.something-is-wrong6,
.something-is-wrong7,
.something-is-wrong8 {
  top: 180.469rem;
}
.something-is-wrong7,
.something-is-wrong8 {
  top: 119.844rem;
  left: 21.781rem;
}
.something-is-wrong8 {
  top: 134.656rem;
}
.something-is-wrong10,
.something-is-wrong11,
.something-is-wrong9 {
  position: absolute;
  top: 137.781rem;
  left: 21.781rem;
  -webkit-text-stroke: 1px #00cc80;
}
.something-is-wrong10,
.something-is-wrong11 {
  top: 140.906rem;
}
.something-is-wrong11 {
  top: 144.031rem;
}
.something-is-wrong12,
.something-is-wrong13,
.something-is-wrong14 {
  position: absolute;
  top: 147.156rem;
  left: 21.781rem;
  -webkit-text-stroke: 1px #00cc80;
}
.something-is-wrong13,
.something-is-wrong14 {
  top: 150.281rem;
}
.something-is-wrong14 {
  top: 157.344rem;
}
.something-is-wrong15,
.something-is-wrong16,
.something-is-wrong17 {
  position: absolute;
  top: 160.469rem;
  left: 21.781rem;
  -webkit-text-stroke: 1px #00cc80;
}
.something-is-wrong16,
.something-is-wrong17 {
  top: 163.594rem;
}
.something-is-wrong17 {
  top: 166.719rem;
}
.something-is-wrong18,
.something-is-wrong19,
.something-is-wrong20 {
  position: absolute;
  top: 169.844rem;
  left: 21.781rem;
  -webkit-text-stroke: 1px #00cc80;
}
.something-is-wrong19,
.something-is-wrong20 {
  top: 172.969rem;
}
.something-is-wrong20 {
  top: 176.094rem;
}
.errormailcom {
  position: absolute;
  top: calc(50% - 8px);
  left: 1.25rem;
}
.attention-icon {
  position: absolute;
  top: calc(50% - 7.79px);
  right: 1.25rem;
  width: 1rem;
  height: 1rem;
}
.input-entered,
.input-error-message,
.input-required-field,
.input-required-field1 {
  position: absolute;
  background-color: var(--color-white);
  border: 1px solid var(--color-mediumseagreen-500);
  box-sizing: border-box;
  width: 46.625rem;
  height: 3.125rem;
}
.input-error-message {
  top: 115.063rem;
  left: 18.688rem;
  color: #3fd7a0;
}
.input-entered,
.input-required-field,
.input-required-field1 {
  top: 107.188rem;
  left: 18.813rem;
  color: var(--color-mediumseagreen-500);
}
.input-required-field,
.input-required-field1 {
  top: 99.438rem;
  left: 43.813rem;
  width: 23.313rem;
  color: var(--color-mediumseagreen-400);
}
.input-required-field1 {
  left: 18.938rem;
}
.about-our-members-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-mediumseagreen-200);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 14.188rem;
  height: 3.438rem;
}
.send {
  position: absolute;
  top: 0.813rem;
  left: 1.25rem;
  font-size: var(--font-size-5xl);
  font-family: var(--font-bebas-neue);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 11.813rem;
}
.about-our-members1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: normal;
}
.about-our-members {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 190.438rem;
  left: 18.688rem;
  width: 14.188rem;
  height: 3.438rem;
  mix-blend-mode: normal;
}
.screenshot-2024-11-18-213216 {
  position: absolute;
  top: 87.5rem;
  right: 7.688rem;
  width: 41.313rem;
  height: 51.688rem;
  object-fit: cover;
}
.screenshot-2024-11-18-213236,
.screenshot-2024-11-18-213311 {
  position: absolute;
  top: 140.5rem;
  right: 8.313rem;
  width: 40rem;
  height: 27.438rem;
  object-fit: cover;
}
.screenshot-2024-11-18-213311 {
  top: 169.25rem;
  right: 8.875rem;
  width: 38.875rem;
  height: 25.938rem;
}
.join-us {
  position: relative;
  background-color: var(--color-aliceblue);
  width: 100%;
  height: 255.438rem;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dodgerblue);
  font-family: var(--font-bebas-neue);
}
